.cart-container {
  padding: 16px;
  background-color: #f9f9f9;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart {
  padding: 20px;
  
}

#cart-cart {
  font-size: 25px; 
  display: inline-block; /* Certifique-se de que o ícone pode ser animado */
  animation: rotateCart 3s linear infinite; /* Aplica a animação */
  cursor: pointer;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cart button {
  background-color: #4CAF50; /* Cor de fundo verde para os botões */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  margin: 2px;
  padding: 10px 20px; /* Espaçamento interno */
  display: flex; /* Flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */  
  text-align: center;  
  font-size: 12px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave ao passar o mouse */
  
}

.cart button:hover {
  background-color: #45a049;
}

.cart button:active {
  background-color: #3e8e41;
}
