body {
  font-family: Arial, sans-serif;
  background-image: url('imagem/viva-moda.webp');
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-size: cover; /* Faz a imagem cobrir o espaço do footer */
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
   
}

.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 40px;
  background: #F1F1F1 url('https://www.transparenttextures.com/patterns/asfalt.png');
  animation: aparecerLentamente 5s ease-in-out forwards;
}

@keyframes aparecerLentamente {
  0% { opacity: 0; }   /* Início totalmente transparente */
  100% { opacity: 1; } /* Totalmente visível ao final */
} 

.password-input-container {
  position: relative;
}

input[type="email"],
input[type="password"] {
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eye-icon i {
  font-size: 20px;
  color: #007bff;
}




