.product-card {
  background-color: #f9f9f9; /* Cor de fundo para os cards */
  border: 1px solid #ccc; /* Borda dos cards */
  border-radius: 8px; /* Arredondar cantos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  padding: 16px; /* Espaçamento interno */
  width: 200px; /* Largura fixa dos cards */
  text-align: center; /* Centralizar conteúdo do card */
}
.product-card button {
  margin-top: 8px; /* Espaçamento acima do botão */
  padding: 8px 12px; /* Tamanho do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remover borda */
  border-radius: 4px; /* Arredondar botão */
  cursor: pointer; /* Alterar o cursor ao passar por cima */
}
.product-card button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}




.cart {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart h3 {
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  text-align: center;
  width: 200px; /* Ajuste para garantir que os cards fiquem bem dispostos */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  max-width: 200px; /* Defina o tamanho máximo das imagens */
  height: auto;
  margin: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
}

.product-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0.5rem 0;
}

.product-card button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-card button:hover {
  background-color: #45a049;
}
