/* Estilos para o cartão de cada produto */
.product-card {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: -20px;
  text-align: center;
  width: 200px; /* Largura fixa para os cartões */
  height: 460px; /* Altura ajustada para dar mais espaço à descrição */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  max-width: 200px;
  height: 250px;
  animation: moveImage 5s ease-in-out infinite;
  
}

@keyframes moveImage {
  0% {
    transform: translateX(0) translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateX(10px) translateY(-5px); /* Movimento para a direita e para cima */
  }
  100% {
    transform: translateX(0) translateY(0); /* Retorna à posição inicial */
  }
}

.product-card img:hover {
  transform: scale(1.1);
}

.product-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  height: 50px; /* Permite até 2 linhas de texto */
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.product-card p {
  font-size: 14px;
  margin: 2px 0;
  line-height: 1.4;
  max-height: 56px; /* Permite até 3 linhas de texto */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* Habilita o truncamento para múltiplas linhas */
  -webkit-box-orient: vertical;
}

.product-card button {
  margin-top: auto; /* Garante que o botão fique na parte inferior */
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #0056b3;
}

/* Estilos para o contêiner que envolve os cartões */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  margin: 20px;
}
